<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div class="text-center , contactdiv" style="background-color: #DDDDDD;">
        <br>
        <div class="h1"><mark>Contact Us</mark></div>
        <hr>
        <p> Name : <input type="text" placeholder="Your Name">
        </p>
        <p>Email : <input type="text" placeholder="abc@yourmail.com"> </p>
        <p>Phone No : <input type="text" placeholder="9879879654"> </p>
        <button class="btn btn-primary">Submit</button>


      </div>
    </div>
  </body>
</html>
